<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>
</head>

<head>
  <link rel="stylesheet" href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.min.css">

</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/infoform">Info Form</a>
  <a href="/yourinfo">Your Info</a>
  <a class="active" href="/admin">Admin</a>
  <a href="/signout">Signout</a>


  
</div>

<div style="padding-left:16px">
</div>

<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h1>Hours worked per person</h1>



 <table id="dataTable">
        <thead>
            <tr>
                <th>user</th>
                <th>total minutes</th>
            </tr>
        </thead>
        <tbody>
		 {% for key, value in final_total.items() %}
			
             <tr>
				<td>{{ key }}</td>
				<td>{{ value }}</td>
			</tr>
		{% endfor %}
			
        </tbody>
    </table>
<p>total hours for everyone is:{{everyonetotals/60}}</p>
<a href="/deleteallhrs">
      <button>Delete Everyone's Hours</button>
</a>


</body>
<footer>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/2.2.1/js/dataTables.min.js"></script>

<script>
let table = new DataTable('#dataTable');

</script>
</footer>
</html>