<h1>Enter User info</h1>
<form action="/infolocation" method="POST">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>

  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br>

  <label for="city">City:</label><br>
  <input type="text" id="city" name="city"><br>  
  
  <label for="statee">State:</label><br>
  <input type="text" id="statee" name="statee"><br>

  <label for="country">Country:</label><br>
  <input type="text" id="country" name="country"><br>

  <label for="age">Age:</label><br>
  <input type="text" id="age" name="age"><br>  

  <label for="dob">Date Of Birth:</label><br>
  <input type="text" id="dob" name="dob"><br>  

  <br><input type="submit" value="Submit">
</form> 
<p>SUBMIT ONCE FINISHED</p>



  <div class="container" style="background-color:#f1f1f1">
	<a href="/signout">signout</a>
